@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --btn-color: #455090;
  --shadow-color: #ededed;
  --footer-color: #102437;
  --body-text-size: 30px;
  --h2-text-size: 60px;
  --h3-text-size: 40px;
}
/* update */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* Globals */
.btn-primary {
  border-radius:  40px 40px;
  background-color: #455090;
  padding-inline: 30px;
  padding-block: 10px;
  font-weight: var(--font-weight-semibold);
  box-shadow: #102437;
  color: #ededed;
  &:hover {
    @media (hover: hover) {
      background-color: #102437;
    }
  }
}
.btn-settings{
  margin-top: 30px;
  
}
.plsExtend{
  box-sizing: border-box;
  width:auto;
  justify-content: center;
  align-self: center;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.prefColor { /* Do not use this class purely for color prefs*/
  background-color: #ffffff; /* background color used in demo */
  color: #ededed; /* secondary background shade used in demo */
  color: #455090; /* primary button color used in demo */
  color: #102437; /* footer color used in demo */
}
.home-footer{
  background-color: var(--footer-color);
  color:var(--shadow-color);
  
  width: 100%;
  height: 10em;
  padding: 20px;
}
.home-footer > h2 {
  font-size: var(--body-text-size);
}

/* Welcome */
.welcome-div{
  height: 50%;
}
.welcome-div > h2, .welcome-div > p {
  padding-bottom: 20px;
  text-align: center;
  width: 20em;
}

.welcome-div > h2{
  font-size: var(--h2-text-size);
  max-width:400px;
}
.welcome-div > p{
  font-size: var(--body-text-size);
  max-width:860px;
  text-align: center;
}
.welcome-signup {
  font-size: var(--body-text-size);
  max-width:860px;
  text-align: center;
  align-self: center;
}

.grand-div{
  width:100%;
  margin:0%;
  box-sizing: border-box;
}
/* Features */
.features-div > h2 {
  font-size:var(--h2-text-size);
  font-weight: bold;
  margin-bottom: 20px;
  
}

.features-list{
  background-color: var(--background);
  padding: 25px;
  box-sizing: border-box;
  border-radius: 12%;
  width: 50%;
  height: 50%;
  text-align: center;
  max-width: 600px;
  margin-bottom: 10px;
}


.features-div{
  background-color: var(--shadow-color);
  width: 100%;
  padding: 40px;
}
.features-list div {
  font-size: var(--body-text-size);
  padding: 10px;
  max-width:500px;
  min-width:500px;
  max-height:400px;
  min-height:400px;

}
.features-list div h3 {
  font-size: var(--h3-text-size);
  font-weight: 500;
  padding-bottom: 4px;
}
/*Lessons*/
.lesson-div{
  font-size: (--body-text-size);
  font-family: "Geist Sans", sans-serif;
  background-color: var(--background);


}
.lesson-div > h3{
  font-family: "Geist Sans";
  font-size: var(--h3-text-size);
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 40px
  
}