

@media (max-width: 480px) {
    .lesson {
        font-size: 1.5rem
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .lesson {
        font-size: 1.8rem;
    }
}

@media(min-width: 769px) and (max-width: 1024px) {
    .lesson {
        font-size: 2.2rem;
    }
}

@media(min-width: 1025px) {
    .lesson {
        font-size: 2.5rem;
    }}