.lesson {
    font-size: var(--h3-text-size);
    margin-bottom: 5px;
}
/* mobile screens*/
@media screen and (max-width: 480px) {
    .lesson {
        font-size: var(--h3-text-size);
    }
}

/* tablet screen */ 
@media (min-width: 481px) and (max-width: 768px) {
    .lesson {
        font-size: 1.8rem;
    }
}

/* laptop screens*/
@media(min-width: 769px) and (max-width: 1024px) {
    .lesson {
        font-size: 2.2rem;
    }
}


