
.lvlBtn{
    display: 'block';
    margin: 'auto';
    margin-bottom:20px;
    margin-top: 10px;
    height: 10vh;
    width: 85%;
    font-size: 2rem;
    box-sizing: border-box;
}
.lvlBtn p {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

/* mobile screens*/
@media (max-width: 480px) {
    .lvlBtn {
        height: 6vh;
        width:70%;
        font-size: 1rem;
        padding-top: 0.5px;
    }
}

/* tablet screens */
@media (min-width: 481px) and (max-width: 768px) {
    .lvlBtn {
        height: 8vh;
        width: 75%;
        font-size: 1.5rem;
        padding-top: 0.5px;
    }
}

/* laptop screens */
@media(min-width: 769px) and (max-width: 1024px) {
    .lvlBtn {
        height: 9vh;
        width: 80%;
        font-size: 2rem;
        padding-top: 0.5px;
    
    }
}

/* large laptop screens */
@media(min-width: 1025px) {
    .lvlBtn {
        height:10vh;
        width: 85%;
        font-size: 2.5rem;
        padding-top: 1px;
    }
}