
.nav-bar{
    width:100%;
    border-bottom: 30px;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2); 
    border: 10px solid transparent; 
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    justify-content: center;
    overflow:auto;
    scrollbar-width:thin;
}
.nav-list{
    /* align-self: center; */
    
    justify-content: center;
    background-color: var(--shadow-color);
    border: 30px;
    border-radius: 40px;
    padding-block: 10px;
    /* min-width: 850px; */
    min-width: fit-content;
    max-width: 100%;
    max-height: fit-content;
    text-wrap: nowrap;
    font-size: large;
    align-self: inherit;
    text-align: center;
    font-size: calc(var(--body-text-size) * 0.90);
}
.nav-list > li {
    margin-top: 2px;
    box-sizing: border-box;
    margin-inline:22px;
    
}
.spacer{
    width:100%;
}
.profile-div {
    /* font-size: var(--body-text-size); */
    font-size: calc(var(--body-text-size) * 0.95);
    width: fit-content;
    min-width: fit-content;
    text-wrap:nowrap;
    margin-right: 20px;
    margin-left: 5%;
    gap: 5;
    z-index: 10;
}
.bubble{
    background-color: var(--background);
    border-radius:  40px 40px;
    padding-inline: 40px;
    padding-block: 12px;
    font-weight:500;
    margin: 0;
}

.navLogo {
    margin-right: 5%;
    margin-left: 20px;
}
.overdiv {
    justify-content: space-between;
}
@media screen and (max-width: 480px) {
    .profile-div {
        /* font-size: var(--body-text-size); */
        font-size: calc(var(--body-text-size) * 0.95);
        width: fit-content;
        text-wrap:nowrap;
        margin-right: 20px;
        margin-left: 5%;
        margin-top: 5%;
    }
    .bubble{
        background-color: var(--background);
        border-radius:  20px 20px;
        padding-inline: 20px;
        padding-block: 6px;
        font-weight:500;
    }   
}

.nav-list > li {
    position: relative;
    z-index: 1; 
    margin-top: 2px;
    box-sizing: border-box;
    margin-inline: 22px;
  }
  

  .nav-selector {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
    height: 48px;  
    border-radius: 40px;  
    background-color: #FAF9F6;  
    transition: all 0.3s ease;
    z-index: 0;
  }  